@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

body {
	background: #F4F4F4;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
}